[profile.default]
src = "src"
out = "out"
libs = ["lib"]

remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "@ccip/contracts/=lib/ccip/contracts/",
    "@chainlink/local/=lib/chainlink-local/",
]

rpc_endpoints = { eth = "", arb = "" }


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
